<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="CensusDataDigitalization.BAL"/>
  <namespace name="CensusDataDigitalization.BAL" />

  <namespace name="CensusDataDigitalization.BAL.Interfaces" />

  <assembly name="CensusDataDigitalization.DAL"/>
  <namespace name="CensusDataDigitalization.DAL.DAC" />

  <namespace name="CensusDataDigitalization.DAL.Interfaces" />

  <assembly name="CensusDataDigitalization.Presentation"/>
  <namespace name="CensusDataDigitalization.Presentation" />

  <container>
    <register type="IUserBAL" mapTo="UserBAL"/>
    <register type="IUserDAC" mapTo="UserDAC"/>

    <register type="IGraphPlotterBAL" mapTo="GraphPlotterBAL"/>
    <register type="IGraphPlotterDAL" mapTo="GraphPlotterDAL"/>

    <register type="IHouseListingBAL" mapTo="HouseListingBAL"/>
    <register type="IHouseListingDAC" mapTo="HouseListingDAC"/>

    <register type="IPopulationRegistrationBAL" mapTo="PopulationRegistrationBAL"/>
    <register type="IPopulationRegistrationDAC" mapTo="PopulationRegistrationDAC"/>

    <register type="Microsoft.Owin.Security.OAuth.IOAuthAuthorizationServerProvider, Microsoft.Owin.Security.OAuth"
  mapTo="ServiceProvider">
    </register>
  </container>

</unity>